<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>[% title %][% IF !homepage; " - " IF title; l('Page {n}', { n => pager.current_page }) _ " - " IF (pager.current_page && pager.current_page > 1); "MusicBrainz"; END %]</title>
    [%~ USE Canonicalize ~%]
    [%~ IF Canonicalize.canonicalize(canonical_url || c.req.uri) != c.req.uri ~%]
        <link rel="canonical" href="[% Canonicalize.canonicalize(canonical_url || c.req.uri) | html %]" />
    [%~ END ~%]
    [% css_manifest('common.css') %]
    [% css_manifest('icons.css') UNLESS no_icons %]
    [%- IF c.debug -%]
        <link rel="stylesheet" type="text/css" href="/static/styles/debug.css" />
    [%- END %]
    <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Artist") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_artist.xml') %]" />
    <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Label") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_label.xml') %]" />
    <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Release") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_release.xml') %]" />
    <link rel="search" type="application/opensearchdescription+xml" title="[%- l("MusicBrainz: Track") -%]" href="[% c.uri_for('/static/search_plugins/opensearch/musicbrainz_track.xml') %]" />
    <noscript>
        <style type="text/css">
          #header-menu li:hover ul { left: auto; }
        </style>
    </noscript>
    [%~ script_manifest('jed-' _ current_language _ '.js') ~%]
    [%~ script_manifest('common.js') ~%]
    [%- BLOCK layout_head %][% END -%]
    [%- INCLUDE layout_head -%]
    [%~ IF jsonld_data ~%]
      [%~ USE JSON.Escape ~%]
      <script type="application/ld+json">[% jsonld_data.json %]</script>
    [%~ END ~%]
    [%- IF google_analytics_code -%]
      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '[% google_analytics_code %]']);
        _gaq.push(['_setCustomVar', 1, 'User is logged in', '[% c.user_exists ? 'Yes' : 'No' %]', 2]);
        _gaq.push(['_trackPageview']);

        (function () {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    [%- END -%]
</head>
